h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 80px;
    display: flex;
    align-items: center;     
    justify-content: center; 
   
}

.questionTime {
    color: rgb(242, 217, 252);
    font-style: italic;
    margin-top: 10rem;
    margin-bottom: 40rem;margin-left: 30rem;
    margin-right: 30rem;
    background: rgb(68, 17, 70);
    box-shadow: 5px 5px 5px #b761ec;
    border: 10px solid rgb(68, 17, 70);
    border-radius: 10px;
    display: flex;
    flex-direction: column; 
    align-items: center;    
    justify-content: center; 
   
  }

  body{
    background-color: rgb(201, 152, 241);
  }